<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.yp.module.qx.core.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="xyz.yp.module.qx.core.domain.Menu">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="parent_id" property="parentId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="BaseColumnList">
        id,parent_id,`name`,create_time,update_time
    </sql>

    <insert id="insert" parameterType="xyz.yp.module.qx.core.domain.Menu" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO qx_menu(parent_id,`name`,create_time,update_time) VALUES (#{parentId},#{name},#{createTime},#{updateTime})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList" />
        FROM qx_menu
    </select>

</mapper>