<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.yp.module.qx.core.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="xyz.yp.module.qx.core.domain.Permission">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="menu_id" property="menuId" jdbcType="BIGINT" />
    </resultMap>

    <sql id="BaseColumnList">
        id,code,`name`,create_time,update_time,menu_id
    </sql>

    <insert id="insert" parameterType="xyz.yp.module.qx.core.domain.Permission" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO qx_permission(code,`name`,create_time,update_time,menu_id) VALUES (#{code},#{name},#{createTime},#{updateTime},#{menuId})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList" />
        FROM qx_permission
    </select>

</mapper>